
config.php
system/cache/index.php
system/logs/index.php
image/data/index.html
image/cache/*
!image/cache/index.htm
system/cache/index.htm
InvoiceFlash0.rar
InvoiceFlash1.rar
system/cache/cache.*
system/cache/qr_invoice_*.png
vqmod/*
!vqmod/vqmod.php
!vqmod/pathReplaces.php
!vqmod/xml/
vqmod/xml/*
!vqmod/xml/home_search_buttons_green.xml.disabled
!vqmod/xml/vqmod_invoiceflash.xml
InvoiceFlash-master.zip
system/logs/error.txt
*.log
download/certificado/
system/backup/
system/cache/update_*
docs/
catalog/
.claude/skills/invoiceFlash/
